:root {
    /* Colours */
    --color-text : #ffff;
    --color_primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /*Fonts*/
    --font-robot: "Roboto";

}